<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.unknown.md</string>
				<string>com.rstudio.rmarkdown</string>
				<string>net.daringfireball.markdown</string>
				<string>net.ia.markdown</string>
				<string>org.textbundle.package</string>
				<string>public.markdown</string>
				<string>dyn.ah62d4rv4ge81e5pe</string>
				<string>dyn.ah62d4rv4ge8043a</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
